/*body {
  text-align:center;
}

#about {
  font-size:120%;
}

#updates {
  font-size:120%;
}

#resources {
  font-size:200%;
}

div a i {
    margin-left: 10%;
    margin-right: 10%;
}

/*#active {
  color:white;
}*/